body{
    background-color:orange;
    color: blue;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    width: 400px;
    height: 500px;
    margin:0 auto;
}
#nav{
    margin-top: 20px;
    text-align: center;
}
.navlink{
    color:black;
    display: inline;
}
.navbar{
    list-style-type: none;
    display: inline;
    padding: 0;
}
.navlink > *{
    color: black;
    font-style: normal;
    display: inline;
    border: blue ridge 10px;
}
#text > * {
    color: black;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
}
.didnee{
    text-align: center;
    display: block;
    width: 200%;
}
a{
    text-decoration: none;
}